# British Columbia Snow Survey Data - EDA

The below will work to explore the data as well as clean any anomolies...

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Importing the data
snow_survey_df = pd.read_csv('data/allmss_archive.csv')
snow_survey_df
# we have 59028 rows/observations

,Snow Course Name,Number,Elev. metres,Date of Survey,Snow Depth cm,Water Equiv. mm,Survey Code,Snow Line Elev. m,Density %,Survey Period
0,YELLOWHEAD,1A01,1860,1951/03/30,168.0,528.0,NaN,NaN,31.0,01-Apr
1,YELLOWHEAD,1A01,1860,1951/04/30,147.0,485.0,NaN,NaN,33.0,01-May
2,YELLOWHEAD,1A01,1860,1951/05/19,89.0,320.0,NaN,NaN,36.0,15-May
3,YELLOWHEAD,1A01,1860,1952/04/30,157.0,523.0,NaN,NaN,33.0,01-May
4,YELLOWHEAD,1A01,1860,1952/05/19,79.0,264.0,NaN,NaN,33.0,15-May
...,...,...,...,...,...,...,...,...,...,...
59023,STANLEY CREEK,4E03,930,1985/05/16,83.0,307.0,NaN,NaN,37.0,15-May
59024,STANLEY CREEK,4E03,930,1986/03/02,142.0,320.0,NaN,NaN,23.0,01-Mar
59025,STANLEY CREEK,4E03,930,1986/04/01,135.0,365.0,PROBLEM,NaN,27.0,01-Apr
59026,STANLEY CREEK,4E03,930,1986/05/01,121.0,400.0,PROBLEM,NaN,33.0,01-May
59027,STANLEY CREEK,4E03,930,1986/05/15,83.0,285.0,NaN,NaN,34.0,15-May

In [9]:
snow_survey_df.columns
# Some columns have leading spaces, so lets fix it

Index(['Snow Course Name', ' Number', ' Elev. metres', ' Date of Survey',
       ' Snow Depth cm', ' Water Equiv. mm', '  Survey Code',
       ' Snow Line Elev. m', ' Density %', ' Survey Period'],
      dtype='object')

In [10]:
snow_survey_df.columns = snow_survey_df.columns.str.strip()
snow_survey_df

,Snow Course Name,Number,Elev. metres,Date of Survey,Snow Depth cm,Water Equiv. mm,Survey Code,Snow Line Elev. m,Density %,Survey Period
0,YELLOWHEAD,1A01,1860,1951/03/30,168.0,528.0,NaN,NaN,31.0,01-Apr
1,YELLOWHEAD,1A01,1860,1951/04/30,147.0,485.0,NaN,NaN,33.0,01-May
2,YELLOWHEAD,1A01,1860,1951/05/19,89.0,320.0,NaN,NaN,36.0,15-May
3,YELLOWHEAD,1A01,1860,1952/04/30,157.0,523.0,NaN,NaN,33.0,01-May
4,YELLOWHEAD,1A01,1860,1952/05/19,79.0,264.0,NaN,NaN,33.0,15-May
...,...,...,...,...,...,...,...,...,...,...
59023,STANLEY CREEK,4E03,930,1985/05/16,83.0,307.0,NaN,NaN,37.0,15-May
59024,STANLEY CREEK,4E03,930,1986/03/02,142.0,320.0,NaN,NaN,23.0,01-Mar
59025,STANLEY CREEK,4E03,930,1986/04/01,135.0,365.0,PROBLEM,NaN,27.0,01-Apr
59026,STANLEY CREEK,4E03,930,1986/05/01,121.0,400.0,PROBLEM,NaN,33.0,01-May
59027,STANLEY CREEK,4E03,930,1986/05/15,83.0,285.0,NaN,NaN,34.0,15-May

In [11]:
# The shape of our dataframe
snow_survey_df.shape

(59028, 10)

In [12]:
# summary statistics for numerical variables
snow_survey_df.describe()

,Elev. metres,Snow Depth cm,Water Equiv. mm,Snow Line Elev. m,Density %
count,59028.000000,58665.000000,58660.000000,3282.000000,54149.000000
mean,1363.544826,119.125594,431.040488,640.841255,33.302092
std,402.608060,94.454581,417.753645,571.114775,9.332047
min,70.000000,0.000000,0.000000,0.000000,0.000000
25%,1100.000000,52.000000,137.000000,0.000000,27.000000
50%,1400.000000,99.000000,302.000000,645.000000,32.000000
75%,1660.000000,166.000000,604.000000,1100.000000,39.000000
max,2230.000000,806.000000,3845.000000,3000.000000,125.000000

In [13]:
# On initial glance, we can see that 'Survey Code' and 'Snow Line Elev. m' contain many NaN values. Lets explore them individually - if Snow Line Elev. m is entirely NaN, may be worth dropping the entire column.
missing_values = snow_survey_df.isnull().sum()
missing_values

Snow Course Name         0
Number                   0
Elev. metres             0
Date of Survey           0
Snow Depth cm          363
Water Equiv. mm        368
Survey Code          56294
Snow Line Elev. m    55746
Density %             4879
Survey Period            6
dtype: int64

In [14]:
# Survey Code has some rows with entries as 'PROBLEM' lets see how many are like this
survey_code_counts = snow_survey_df['Survey Code'].value_counts(dropna=False)
survey_code_counts

Survey Code
NaN                    56294
PROBLEM                 1454
EARLY/LATE               553
N                        360
PRELIMINARY              132
TRACE                    114
EST AREAL AVG             57
EST PILLOW                31
UNSCHEDULED               16
EARLY/LATE/PROBLEMS        9
NOT MEASURED               7
Estimated                  1
Name: count, dtype: int64

In [15]:
# Lets do the same for 'Snow Line Elev. m'
snow_line_Nan = snow_survey_df['Snow Line Elev. m'].isna().sum()
snow_line_Nan

# Majority of Snowline is Nan so it might be worth dropping...

55746

In [16]:
# this is somehting we're testing!!!

In [17]:
snow_survey_df.head()

,Snow Course Name,Number,Elev. metres,Date of Survey,Snow Depth cm,Water Equiv. mm,Survey Code,Snow Line Elev. m,Density %,Survey Period
0,YELLOWHEAD,1A01,1860,1951/03/30,168.0,528.0,NaN,NaN,31.0,01-Apr
1,YELLOWHEAD,1A01,1860,1951/04/30,147.0,485.0,NaN,NaN,33.0,01-May
2,YELLOWHEAD,1A01,1860,1951/05/19,89.0,320.0,NaN,NaN,36.0,15-May
3,YELLOWHEAD,1A01,1860,1952/04/30,157.0,523.0,NaN,NaN,33.0,01-May
4,YELLOWHEAD,1A01,1860,1952/05/19,79.0,264.0,NaN,NaN,33.0,15-May